@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");

:root {
  --color-white: #f3f3f3;
  --color-purple: #a346ff;
  --color-green: #87ff46;
}

body {
  font-family: "Quicksand", sans-serif;
}
